.groups-container {
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.groups-container md-card {
    width: 90%;
}

.create-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px 30px;
}

.groups-form {
    display: inline-block;
}

@media (min-width: 961px) {
    .groups-container md-card {
        width: 50%;
    }
}