.register-form-container {
    display: -webkit-flex;
    display: flex;
    height: 100vh;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.logo {
    display: block;
    margin: 5px auto;
}

form {
    display: block;
    margin: 0 auto;
}